Here are featured projects that I have worked on. Click on them for an article discussing how I made them and for a link to the projects GitHub page. I'm working on making live demos for these projects.

<!--
Cards have:
  -link
  -image
  -title
  -description
  -short descriptive tags
-->
{% for page in site.pages %}
        {% if page.isProject %}
            <div class="card">

                <a href={{page.url}} style="text-decoration: none;">
                <div class="card-container">
                    <div class="card-image"><img src={{page.image}}></div>
                    <div class="card-info">
                        <article>
                            <div class="card-title">
                                {{page.title}}
                            </div>
                            <div class="card-description">
                                {{page.description}}
                            </div>
                            <div class="card-tag">
                                {{page.tags}}
                            </div>
                        </article>
                    </div>
                </div>
                </a>
            </div>
        {% endif %}
{% endfor %}