Here are featured projects that I have worked on. Feel free to check them out!

<div class="courses-container">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="text-decoration: none;">
        <div class="course">
            <div class="course-preview">
                <img src="https://i.ytimg.com/vi/ldTGlq6HclQ/hqdefault.jpg">

            </div>
            <div class="course-info">
                <article>
                    <h3>I dare you to click on this</h3>
                    <h6>You won't do it.</h6>
                    <span>Memes</span>
                </article>
            </div>
        </div>
    </a>
</div>